<div class="row">
    <div class="col-md-12">
      <app-options-panel></app-options-panel>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="calendar-create-title">Nowe wydarzenie</p>
    <form>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nazwa:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="name" name="name" />
        </div>
      </div>

      <div class="form-group row">
        <label for="location" class="col-sm-2 col-form-label"
          >Lokalizacja:</label
        >
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="location"
            name="location"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label">Termin:</label>
        <div class="col-sm-9">
          <input type="date" class="form-control" id="date" name="date" />
        </div>
      </div>

      <fieldset class="form-group row">
        <legend class="col-form-label col-sm-2 float-sm-left pt-0">Typ:</legend>
        <div class="col-sm-9">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              id="rally"
              name="type"
              value="rally"
            />
            <label class="form-check-label" for="rally"> Rajd </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              id="expedition"
              name="type"
              value="expedition"
            />
            <label class="form-check-label" for="expedition"> Wyprawa </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              id="tourism"
              name="type"
              value="tourism"
            />
            <label class="form-check-label" for="tourism"> Turystyka </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              id="speed-rally"
              name="type"
              value="speed-rally"
            />
            <label class="form-check-label" for="speed-rally"> Wyścigi </label>
          </div>
        </div>
      </fieldset>

      <div class="form-group row">
        <label for="organizer" class="col-sm-2 col-form-label"
          >Organizator:</label
        >
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="organizer"
            name="organizer"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="cost" class="col-sm-2 col-form-label">Koszt:</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="cost" name="cost" />
        </div>
      </div>
    </form>
  </div>
</div>
