<nav class="navbar navbar-expand-md navbar-light navbar-width">
  <a class="navbar-brand header-clickable" routerLink="/">
    <h1 class="header-title">off-road.net</h1>
    <h2 class="header-subtitle">miejsce spotkań fanów 4x4</h2>
  </a>
  <button
    class="navbar-toggler navbar-burger-button"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse nav-container" id="navbarNav">
    <ul class="navbar-nav nav-container-ul">
      <li class="nav-item">
        <a class="nav-link link-name" routerLink="/calendar">Kalendarz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-name" routerLink="/services">Serwisy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-name" routerLink="/stores">Sklepy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-name" routerLink="/blogs">Blogi</a>
      </li>
    </ul>
    <ul class="navbar-nav nav-container-buttons">
      <li class="nav-item">
        <a class="nav-link link-name-login" routerLink="/login">Zaloguj się</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <button type="button" class="logout-button" (click)="onLogout()">
          Wyloguj
        </button>
      </li>
    </ul>
  </div>
</nav>
