.header-clickable {
  cursor: pointer;
}

.header-title {
  font-size: 28px;
  font-family: "Permanent Marker", cursive;
  color: #000;
}

.header-subtitle {
  display: none;
}

.link-name {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.7px;
  color: #000 !important;
}

.navbar-burger-button {
  border: none;
}

@media (min-width: 768px) {
  .header-clickable {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .header-title {
    font-size: 38px;
  }

  .header-subtitle {
    display: block;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #777;
    margin: 10px 0 0 15px;
  }

  .nav-container-ul {
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 0;
  }

  .link-name {
    padding: 3px;
    font-size: 20px;
    letter-spacing: 0.8px;
    border-bottom: 2px solid transparent;
  }

  .nav-item:nth-child(1) .link-name:hover {
    border-color: rgb(252, 175, 20);
  }

  .nav-item:nth-child(2) .link-name:hover {
    border-color: rgba(216, 98, 98, 0.89);
  }

  .nav-item:nth-child(3) .link-name:hover {
    border-color: rgba(4, 108, 154, 0.57);
  }

  .nav-item:nth-child(4) .link-name:hover {
    border-color: rgba(52, 225, 40, 0.51);
  }
}

@media (min-width: 1400px) {
  .header-title {
    font-size: 48px;
  }

  .header-subtitle {
    font-size: 18px;
  }
}
