.navbar-width {
  max-width: 100%;
  margin: 0 auto;
}

.header-clickable {
  display: flex;
  flex-direction: column;
  padding: 0;
  cursor: pointer;
}

.header-title {
  margin: 0;
  font-size: 28px;
  font-family: 'Permanent Marker', cursive;
  color: #000;
}

.header-subtitle {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #777;
}

.link-name,
.link-name-login {
  padding: 3px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.7px;
  color: #000 !important;
}

.navbar-burger-button {
  border: none;
}

.logout-button {
  margin: 0 0;
  padding: 3px 10px;
  font-size: 14px;
  list-style: none;
  letter-spacing: 0.7px;
  border: 1px solid rgb(252, 175, 20);
  border-radius: 5px;
  background-color: rgb(252, 175, 20);
}

@media (min-width: 768px) {
  .navbar-width {
    max-width: 85%;
  }

  .header-title {
    font-size: 34px;
  }

  .header-subtitle {
    font-size: 14px;
  }

  .nav-container-ul {
    width: 100%;
    justify-content: center;
    padding: 10px 0;
  }

  .nav-container-buttons {
    justify-content: space-between;
    width: 30%;
    padding: 10px 0;
  }

  .link-name {
    margin: 0 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
  }

  .nav-item:nth-child(1) .link-name:hover {
    border-color: rgb(252, 175, 20);
  }

  .nav-item:nth-child(2) .link-name:hover {
    border-color: rgba(216, 98, 98, 0.89);
  }

  .nav-item:nth-child(3) .link-name:hover {
    border-color: rgba(4, 108, 154, 0.57);
  }

  .nav-item:nth-child(4) .link-name:hover {
    border-color: rgba(52, 225, 40, 0.51);
  }
}

@media (min-width: 1200px) {
  .link-name {
    margin: 0 15px;
  }
}

@media (min-width: 1400px) {
  .navbar-width {
    max-width: 75%;
  }

  .header-title {
    font-size: 42px;
  }

  .header-subtitle {
    font-size: 16px;
  }

  .link-name {
    font-size: 18px;
  }
}
