.bgc-img {
  display: none;
}

.row-container {
  background-color: #eee;
}

.row-container-first {
  margin-top: 10px;
  padding: 20px 0 0 0;
}

.calendar-container,
.auto-services-container,
.stores-container,
.blogs-container {
  height: 17vh;
  margin: 0 16px 25px 16px;
}

.calendar-container:hover,
.auto-services-container:hover,
.stores-container:hover,
.blogs-container:hover {
  background-size: 160%;
}

.calendar-container {
  background: url('../../assets/calendar-hp.jpg') no-repeat 50% 50%;
  background-size: 130%;
}

.calendar-container:focus {
  border: 2px solid rgba(255, 162, 23);
}

.auto-services-container {
  background: url('../../assets/service-hp.jpg') no-repeat 50% 50%;
  background-size: 130%;
}

.auto-services-container:focus {
  border: 2px solid rgb(58, 143, 52);
}

.stores-container {
  background: url('../../assets/shop-hp.jpg') no-repeat 20% 20%;
  background-size: 130%;
}

.stores-container:focus {
  border: 2px solid rgb(170, 62, 62);
}

.blogs-container {
  background: url('../../assets//blog-hp.jpg') no-repeat 20% 20%;
  background-size: 130%;
}

.blogs-container:focus {
  border: 2px solid rgba(4, 108, 154, 1);
}

.block-text {
  position: absolute;
  bottom: 2%;
  left: 7%;
  font: 400 18px 'Open Sans', sans-serif;
  letter-spacing: 1px;
  color: #fff;
  padding: 5px 20px;
}

.calendar-container .block-text {
  background-color: rgba(255, 162, 23);
}

.auto-services-container .block-text {
  background-color: rgb(58, 143, 52);
}

.stores-container .block-text {
  background-color: rgb(170, 62, 62);
}

.blogs-container .block-text {
  background-color: rgba(4, 108, 154, 1);
}

@media (max-width: 991.99px) and (orientation: landscape) {
  .block-text {
    position: absolute;
    bottom: 0;
    left: 5%;
    font: 400 18px 'Open Sans', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    background-color: rgba(255, 162, 23);
    padding: 5px 20px;
  }

  .calendar-container,
  .auto-services-container,
  .stores-container,
  .blogs-container {
    height: 25vh;
    background-size: 100%;
  }
}

@media (min-width: 992px) {
  .container-extra-large-screen {
    margin-top: 2%;
  }

  .bgc-img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-height: 100%;
    opacity: 0.4;
    z-index: -99;
  }

  .row-container {
    height: 33vh;
    justify-content: space-evenly;
    background-color: transparent;
  }

  .row-container-first {
    margin-bottom: 40px;
  }

  .block {
    position: relative;
    height: 100%;
    text-align: right;
    text-transform: capitalize;
    vertical-align: bottom;
    color: #000;
  }

  .block:hover {
    color: #fff;
    cursor: pointer;
  }

  .calendar-container:hover {
    background-color: rgba(255, 162, 23, 1);
  }

  .auto-services-container:hover {
    background-color: rgb(58, 143, 52);
  }

  .stores-container:hover {
    background-color: rgb(170, 62, 62);
  }

  .blogs-container:hover {
    background-color: rgba(4, 108, 154, 1);
  }
}
