<div class="container container-extra-large-screen">
  <img
    class="bgc-img col-xs-12"
    src="../assets/offroad-header.jpg"
    alt="offroad" />
  <div class="row row-container row-container-first">
    <a
      routerLink="calendar"
      class="col-lg-offset-1 col-lg-4 block calendar-container">
      <p class="block-text">Kalendarz</p>
    </a>
    <a
      routerLink="services"
      class="col-lg-offset-2 col-lg-4 block auto-services-container">
      <p class="block-text">Serwisy</p>
    </a>
  </div>
  <div class="row row-container">
    <a
      routerLink="stores"
      class="col-lg-offset-1 col-lg-4 block stores-container">
      <p class="block-text">Sklepy</p>
    </a>
    <a
      routerLink="blogs"
      class="col-lg-offset-2 col-lg-4 block blogs-container">
      <p class="block-text">Blogi</p>
    </a>
  </div>
</div>
