<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <div *ngIf="error" class="alert alert-danger">
        {{ error }}
      </div>
      <div *ngIf="isLoading" style="text-align: center">
        <app-spinner></app-spinner>
      </div>
      <form
        #registerForm="ngForm"
        (ngSubmit)="onSubmit(registerForm)"
        *ngIf="!isLoading"
        class="form-container"
      >
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            name="email"
            id="email"
            class="form-control"
            email
            required
            #name="ngModel"
            ngModel
          />
          <div
            [hidden]="name.valid || name.pristine"
            class="alert alert-danger alert-info"
          >
            Email jest wymagany
          </div>
        </div>
        <div class="form-group">
          <label for="password">Hasło</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            required
            minlength="8"
            #password="ngModel"
            ngModel
          />
          <div
            [hidden]="password.valid || password.pristine"
            class="alert alert-danger alert-info"
          >
            Hasło jest zbyt krótkie
          </div>
        </div>
        <button
          class="button-next"
          type="submit"
          [disabled]="!registerForm.form.valid"
        >
          Zarejestruj
        </button>
      </form>
    </div>
  </div>
</div>
