.button-next {
  width: 35%;
  text-align: center;
  position: relative;
  font-size: 16px;
  list-style: none;
  padding: 1px 10px;
  margin: 10px 0 0 65%;
  border: 2px solid rgb(252, 175, 20);
  border-radius: 5px;
  background-color: transparent;
}

.button-next::after {
  position: absolute;
  content: "";
  left: 5px;
  top: 5px;
  transform: translate(-2px, -2px);
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border: 2px solid rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  background-color: transparent;
}

.form-container {
  margin: 20px 0;
  padding: 20px 30px;
  border: 3px solid rgba(252, 175, 20, 0.451);
  box-shadow: 0px 0px 15px 5px rgba(238, 238, 238, 1);
}

.alert-info {
  margin: 10px 0;
}
