<div *ngIf="!isLogin" class="options-panel options-panel-client">
  <ul class="options-panel__options-container">
    <li
      *ngFor="let option of clientAndUserOptions.typeOfEvent"
      class="options-panel__option"
    >
      {{ option }}
    </li>
  </ul>
</div>

<div *ngIf="isLogin" class="options-panel">
  <div class="options-panel__button">
    <button class="options-panel__option" routerLink="/calendar/create-event">
      {{ adminOptions[0] }}
    </button>
  </div>

  <ul class="options-panel__options-container">
    <li
      *ngFor="let option of clientAndUserOptions.typeOfEvent"
      class="options-panel__option"
    >
      {{ option }}
    </li>
  </ul>
</div>
