.options-panel {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #eee;
  padding: 0;
}

.options-panel__button {
  display: flex;
  padding: 10px 0;
}

.options-panel__options-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  margin: 0;
}

.options-panel__option {
  position: relative;
  font-size: 12px;
  list-style: none;
  padding: 3px 10px;
  margin: 0 5px;
  border: 2px solid rgb(252, 175, 20);
  border-radius: 5px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .options-panel.options-panel-client {
    justify-content: flex-end;
  }

  .options-panel {
    justify-content: space-between;
  }

  .options-panel__button {
    margin: auto 0 auto 80px;
  }

  .options-panel__option {
    margin: 0 10px;
    font-size: 14px;
  }

  .options-panel__options-container {
    margin: auto 80px auto 0;
  }
}

@media (min-width: 1400px) {
  .options-panel__option {
    font-size: 18px;
    margin: auto 15px;
  }
}
