<div class="options-panel">
  <div class="options-panel__buttons">
    <button
      class="options-panel__option options-panel__button"
      routerLink="/calendar/create-event"
    >
      {{ buttons[0] }}
    </button>
    <button class="options-panel__option options-panel__button" routerLink="/calendar">
      {{ buttons[1] }}
    </button>
  </div>

  <ul class="options-panel__options-container">
    <li *ngFor="let option of options" class="options-panel__option">
      {{ option }}
    </li>
  </ul>
</div>
