<div class="row">
  <div class="col-md-12">
    <p class="calendar-months">wrzesień 2021</p>
  </div>
</div>

<div class="row calendar-event" *ngFor="let event of events; let i = index">
  <div class="col-md-1 calendar-term">
    <p class="calendar-date">{{ event.date }}</p>
    <p class="calendar-day">{{ event.day }}</p>
  </div>
  <a class="col-md-10 calendar-details" [routerLink]="['event', i]">
    <p class="calendar-name">{{ event.name }}</p>
    <p class="calendar-localization">{{ event.location }}</p>
    <p class="calendar-organizer">{{ event.organizer }}</p>
    <p class="calendar-type">{{ event.type }}</p>
  </a>
</div>
