.spinner {
  margin: 10vh 0;
}

.calendar-months {
  width: 65%;
  text-align: center;
  font: 600 15px/1.5 "Open Sans", sans-serif;
  border-bottom: 2px solid rgb(251, 174, 19);
  margin: 10px auto 5px auto;
  padding: 0 0 5px 0;
  text-transform: uppercase;
}

.calendar-event {
  margin: 0 auto 5px auto;
  justify-content: space-between;
}

.calendar-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  margin: 5px 0;
  box-shadow: 0px 0px 15px 5px rgba(238, 238, 238, 1);
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.calendar-details:active {
  background-color: rgba(252, 175, 20, 0.451);
}

.calendar-details p {
  margin: 0;
  text-align: center;
  font: 13px "Open Sans", sans-serif;
}

.calendar-details .calendar-term {
  width: 15%;
}

.calendar-type,
.calendar-organizer {
  display: none;
}

.calendar-details .calendar-name {
  width: 55%;
  font-weight: 700;
  text-align: center;
}

.calendar-details .calendar-localization {
  width: 30%;
}

@media (min-width: 768px) {
  .calendar-months {
    width: 40%;
    font: 600 18px/1.5 "Open Sans", sans-serif;
    margin: 10px auto 15px auto;
  }

  .calendar-event {
    max-width: 1200px !important;
    margin: 10px auto;
    justify-content: space-between;
  }

  .calendar-details {
    box-shadow: 0px 0px 15px 5px rgba(238, 238, 238, 1);
    cursor: pointer;
  }

  .calendar-details:hover {
    text-decoration: none;
    background-color: rgba(252, 175, 20, 0.45);
    transform: scale(1.05);
    transition: transform 0.2s ease-out;
  }

  .calendar-details p {
    font: 15px "Open Sans", sans-serif;
  }

  .calendar-details .calendar-term {
    width: 10%;
  }

  .calendar-details .calendar-name {
    font-size: 16px;
    width: 50%;
  }

  .calendar-details .calendar-localization,
  .calendar-details .calendar-organizer {
    display: block;
    font-size: 14px;
    width: 15%;
    text-align: left;
  }

  .calendar-details .calendar-type {
    display: block;
    font-size: 14px;
    width: 10%;
    text-align: left;
  }
}

@media (min-width: 768px) {
}
