<img
  class="bgc-img col-xs-12"
  src="../assets/offroad-header.jpg"
  alt="offroad"
/>
<div class="container container-extra-large-screen">
  <div class="row row-container-header">
    <div class="col-xs-12">
      <header class="header-homepage">
        <h1 class="header-homepage__title">off-road.net</h1>
        <h2 class="header-homepage__subtitle">miejsce spotkań fanów 4x4</h2>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-4">
      <app-calendar></app-calendar>
    </div>
    <div class="col-md-offset-2 col-md-4">
      <app-auto-services></app-auto-services>
    </div>
    <div class="col-md-offset-1 col-md-4">
      <app-stores></app-stores>
    </div>
    <div class="col-md-offset-2 col-md-4">
      <app-blogs></app-blogs>
    </div>
  </div>
</div>
