<div *ngIf="isLogin" class="options-panel">
  <div class="options-panel__button">
    <button type="button" class="options-panel__option" routerLink="/login">
      {{ eventOptions.favourite }}
    </button>
  </div>

  <ul class="options-panel__options-container">
    <li
      *ngFor="let option of eventOptions.participation; let i = index"
      class="options-panel__option"
      routerLink="/login"
    >
      {{ option }}
    </li>
  </ul>
</div>

<div *ngIf="!isLogin" class="options-panel">
  <div class="options-panel__button">
    <button
      type="button"
      class="options-panel__option"
      (click)="onAddToFavourite()"
    >
      {{ eventOptions.favourite }}
    </button>
    <button
      *ngIf="isAdminLogin"
      type="button"
      class="options-panel__option"
      routerLink="edit"
    >
      {{ adminEventOptions[0] }}
    </button>
    <button type="button" class="options-panel__option" *ngIf="isAdminLogin">
      {{ adminEventOptions[1] }}
    </button>
  </div>

  <ul class="options-panel__options-container">
    <li
      *ngFor="let option of eventOptions.participation; let i = index"
      class="options-panel__option"
      (click)="onIncreaseParticipation(i)"
    >
      {{ option }}
    </li>
  </ul>
</div>
