<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)">
        <div class="form-group">
          <label for="nick">Nick</label>
          <input
            type="text"
            name="nick"
            id="nick"
            class="form-control"
            ngModel
            required
            minlength="2"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            name="email"
            id="email"
            class="form-control"
            ngModel
            email
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Hasło</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            ngModel
            required
            minlength="8"
          />
        </div>
        <button
          class="button-next"
          type="submit"
          [disabled]="!registerForm.valid"
        >
          Zarejestruj
        </button>
      </form>
    </div>
  </div>
</div>
